%h1 ユーザー管理

= paginate @users, theme: "twitter-bootstrap-3"

%table.table.table-striped
  %tr
    %th メールアドレス
    %th 表示名
    %th  
    %th  
  = render @users

= paginate @users, theme: "twitter-bootstrap-3"

