- product = purchase_product.product.version_at(purchase_product.created_at)
%tr
  %td= image_tag product.image.medium.url
  %td= product.name
  %td #{number_with_delimiter(product.price)}円
  %td #{purchase_product.amount} 個
