%h1 ショッピングカート

- if @cart.cart_products.empty?
  %p ショッピングカートは空です。
- else
  - @editable = true
  = render partial: "carts/cart_list", locals: {cart: @cart}
  = link_to "購入手続きへ進む", new_user_purchase_path(current_user), rolte: "button", class: "btn btn-primary btn-large"
