// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-color: #009C0B;
$solid-border: 1px solid black;

.diary-title {
  margin: 5px 0;
  display: inline;
  line-height: 32px;
}

.diary-grid {
  margin-bottom: 20px;
  .diary-grid-inner {
    margin: 10px;
    border: $solid-border;
    .diary-header {
      padding: 5px;
      background-color: $header-color;
      color: white;
      a {
	color: white;
      }
      h3 {
	@extend .diary-title;
      }
    }
    .body {
      padding: 10px;
    }
  }
}

.diary-single {
  border: $solid-border;
  .header {
    background: $header-color;
    padding: 5px;
    color: white;
    h3 {
      @extend .diary-title;
    }
  }
  .body {
    padding: 10px;
  }
}

.diary-info {
  float: right;
}

.diary-links {
  padding: 10px;
}

.comment-list {
  li {
    border-top: $solid-border;
    list-style: none;
    .body {
      min-height: 32px;
      padding: 6px;
    }
    .footer {
      padding: 6px;
    }
  }
  li:last-child {
    border-bottom: $solid-border;
  }
}

#diary-image-form {
  input[type="file"] {
    display: none;
  }
}

#dropzone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  opacity: 0.9;
  display: none;
  pointer-events: none;
  font-size: 25px;
  div {
    top: 50%;
    position: relative;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
  }
}


