.navbar {
  background-color: #009C0B;
  padding: 0 5px;
  a {
    color: white;
  }
}

#nav-account {
  height: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navbar#admin {
  background-color: #9C0B00;
}
