%p
  #{@email} 様

%p
  パスワードの変更がリクエストされました。以下のリンクから実行できます。
  
%p= link_to 'パスワードを変更する', edit_password_url(@resource, :reset_password_token => @token)

%p
  もしパスワードの変更をリクエストした覚えがないのであればこのメールは無視してください。
  %br
  リンクをクリックしない限りパスワードは変更されません。

%p
  さくらマーケット
  
