.col-xs-3
  - url = product_path(product)
  %a.row(href="#{url}")
    .product-grid
      .product-grid-inner
        = image_tag product.image.medium.url
        .right #{product.name}
        .right #{number_with_delimiter(product.price)} 円
